:root {
  --board-scale: 0.8;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 8px;
  color: rgb(46, 46, 46);
}

h1 + legend {
  font-size: 12px;
  margin-bottom: 20px;
  color: rgb(207, 124, 0);
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: -20px;
  color: rgb(175, 149, 0);
}

h3 {
  font-size: 14px;
  color: rgb(117, 117, 117);
}

.game-view {
  display: grid;
  grid-template-columns: 1fr;
}

.board {
  border: solid 8px rgb(153, 153, 153);
  width: calc((400px * var(--board-scale, 1)) + 16px);
  height: calc((400px * var(--board-scale, 1)) + 16px);
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.wait {
  pointer-events: none;
}

.board.score > .row > .cell:hover {
  background-color: rgb(107, 107, 107);
}

.board.score > .row > .cell:hover::after {
  content: "X";
  color: #fff;
  position: absolute;
  padding: 7px 10px;
}

.row {
  display: flex;
  width: calc(400px * var(--board-scale, 1));
  height: calc(40px * var(--board-scale, 1));
}

.cell {
  width: calc(40px * var(--board-scale, 1));
  height: calc(40px * var(--board-scale, 1));
  position: relative;
  display: inline-block;
  margin: 0px;
  border: 1px solid rgb(0, 0, 0);
}

.cell.miss {
  background-color: rgb(184, 16, 16);  
  color: #fff;
  pointer-events: none;
}
.cell.miss::after {
  content: "M";
  position: absolute;
  padding-top: 7px;
  padding-left: 8px;
}

.cell.hit {
  background-color: rgb(43, 153, 0);
  color: #fff;
  pointer-events: none;
}
.cell.hit::after {
  content: "H";
  position: absolute;
  padding-top: 7px;
  padding-left: 10px;
}

.ship-hover {
  background-color: rgba(184, 173, 23, 0.4);
}

.ship-hover-alert {
  background-color: rgba(184, 23, 23, 0.4);
}

.ship {
  background-color: rgba(12, 87, 148, 0.6);
}

.buttons {
  margin-bottom: 10px;
}

button {
  background-color: rgba(10, 108, 255, 0.867);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
  margin-right: 8px;
}

button.disabled {
  cursor: none;
  background-color: rgb(158, 158, 158);
  color: rgba(255, 255, 255, 0.5);
}

#output {
  color: rgb(85, 81, 81);
  font-family: monospace;
  font-size: 20px;
}