:root {
  --board-scale: 0.8;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  margin-top: 20px;
  margin-bottom: 8px;
}

h1 + legend {
  font-size: 12px;
  margin-bottom: 20px;
  color: rgb(207, 124, 0);
}

body {
  
}

.game-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.board {
  border: solid 8px rgb(153, 153, 153);
  width: calc((400px * var(--board-scale, 1)) + 16px);
  height: calc((400px * var(--board-scale, 1)) + 16px);
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.row {
  display: flex;
  width: calc(400px * var(--board-scale, 1));
  height: calc(40px * var(--board-scale, 1));
}

.cell {
  width: calc(40px * var(--board-scale, 1));
  height: calc(40px * var(--board-scale, 1));
  display: inline-block;
  margin: 0px;
  border: 1px solid rgb(0, 0, 0);
}

.ship-hover {
  background-color: rgba(184, 173, 23, 0.4);
}

.ship-hover-alert {
  background-color: rgba(184, 23, 23, 0.4);
}

.ship {
  background-color: rgba(12, 87, 148, 0.6);
}

.buttons {
  margin-bottom: 10px;
}

button {
  background-color: rgba(10, 108, 255, 0.867);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
  margin-right: 8px;
}

button.disabled {
  cursor: none;
  background-color: rgb(158, 158, 158);
  color: rgba(255, 255, 255, 0.5);
}

#output {
  color: rgb(85, 81, 81);
  font-family: monospace;
  font-size: 20px;
}