* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#board {
  border: solid 8px rgb(153, 153, 153);
  width: 416px;
  height: 416px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.row {
  display: flex;
  width: 400px;
  height: 40px;
}

.cell {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0px;
  border: 1px solid rgb(0, 0, 0);
}

.ship-hover {
  background-color: rgba(184, 173, 23, 0.4);
}

.ship-hover-alert {
  background-color: rgba(184, 23, 23, 0.4);
}

.ship {
  background-color: rgba(12, 87, 148, 0.6);
}

#buttons {
  margin-top: 10px;
}

#buttons button {
  background-color: rgba(10, 108, 255, 0.867);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

#buttons button.disabled {
  cursor: none;
  background-color: rgb(158, 158, 158);
  color: rgba(255, 255, 255, 0.5);
}

#output {
  color: rgb(85, 81, 81);
  font-family: monospace;
  font-size: 30px;
}